a{
    text-decoration: none;
    color : orange;
}

a:hover{
    opacity : 0.5;
}
img.logo{
    margin-left : 125px;
}

.menu{
    margin-top : 40px;
    margin-left : -100px !important
}

.form{
    padding : 30px !important;
    width: 500px;
    height : 580px;
    margin : 0 auto;
    margin-top : 40px
}

input[type="text"]{
    line-height: 50px;
}

input[type="submit"]{
    margin-top : 30px;
    margin-bottom: 20px
}
