a{
    text-decoration : none;
}

.top a:hover{
    opacity: 0.5;
}

.menuProduits:hover{
    background-color : orange !important;
    color : white
}


.w3-container{
    margin-top : 10px
}

addProductBtn{
    margin-top : 100px
}

.quitter:hover{
    cursor : pointer !important;
}

.form input{
    line-height : 50px
}

#ajouterProduit{
    margin-top : 0 auto !important
}