html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 12px 25px;
  font-size: 17px;
  border-radius: 5px;
}

* {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  box-sizing: border-box;
}

#layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;

  #loader {
    height: 100px;
  }
}