@import "_contants";

#content {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 500px;
    display: inline-block;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 25px;

    img {
      height: 35px;
    }

    input {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 17px;
      border: none;
      border-bottom: 1px solid lightgray;
      outline: none;
    }

    h1 {
      margin: 0 0 30px 0;
    }

    button {
      background-color: @mainColor;
      color: white;
      font-weight: bold;
      margin-top: 15px;
    }
  }
}
