@import "_contants";

@navHeight: 70px;
nav {
  display: flex;
  align-items: center;
  padding: 10px;
  height: @navHeight;
  width: 100%;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);

  .logo {
    height: 100%;
  }

  .right {
    margin-left: auto;

    button {
      color: white;
      background-color: @mainColor;
      font-weight: bold;
      margin-left: 15px;

      &:hover {
        background-color: darken(@mainColor, 5%);
      }
    }
  }
}

#content {
  height: calc(100% - @navHeight);
  width: 100%;
}